		<!--<?xml version="1.0" encoding="UTF-8"?-->
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "com.jordanwong.spacehop"
		versionCode=""
		version   = "1.0.0">
		<name>Space Hop		</name>
		<description>Drive a spaceship and dodge meteors!		</description>
		<author href="jorwo.github.io" email="jorwon21@roosevelths.k12.hi.us">Jordan Wong		</author>
		<preference name="phonegap-version" value="cli-6.5.0" />
		<preference name="android-build-tool" value="gradle" />
		<preference name="orientation" value="default" />
		<preference name="fullscreen" value="true" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="false" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="true" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="FadeSplashScreen " value="true" />
		<preference name="EnableViewportScale" value="false" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="true" />
		<preference name="BackupWebStorage" value="none" />
		<preference name="TopActivityIndicator" value="white" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="KeyboardShrinksView " value="true" />
		<preference name="HideKeyboardFormAccessoryBar" value="true" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="windows-identity-name" value="" />
		<preference name="android-minSdkVersion" value="23" />
		<preference name="android-installLocation" value="auto" />
		<preference name="SplashScreenDelay" value="2000" />
		<preference name="ErrorUrl" value="null" />
		<preference name="BackgroundColor" value="0x000000" />
		<preference name="DisallowOverscroll" value="true" />
		<preference name="LoadingDialog" value="," />
		<preference name="LoadUrlTimeoutValue" value="null" />
		<platform name="ios">
		</platform>
		<platform name="android">
		<icon src="file://C:\Users\F103\Desktop\spacehop_icon36.png" qualifier="ldpi" />
		<icon src="file://C:\Users\F103\Desktop\spacehop_icon48.png" qualifier="mdpi" />
		<icon src="file://C:\Users\F103\Desktop\spacehop_icon72.png" qualifier="hdpi" />
		<icon src="file://C:\Users\F103\Desktop\spacehop_icon96.png" qualifier="xhdpi" />
		<icon src="file://C:\Users\F103\Desktop\spacehop_icon144.png" qualifier="xxhdpi" />
		<icon src="file://C:\Users\F103\Desktop\spacehop_icon192.png" qualifier="xxxhdpi" />
		</platform>
		<platform name="winphone">
		</platform>
		 <icon src="icon.png" />
		</widget>
